
body {
  font-family: 'Courier New',
    Courier,
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4e6f7;
  color: #212121;
  line-height: 1.5;
  padding: 0 15px;
}

a{
  text-decoration: none;
  color: currentColor;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.thumb{
  height: 240px;
}



.wrapper{
  margin: 0 auto;
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.wrapper__search{
  margin-top: 10px;
  background-color: rgb(141, 49, 239);
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.btn{
  font-family: inherit;
  font-size: 14px;
  color: #fafafa;
  border: 1px solid #212121;
  max-width: 120px;
  padding: 9px;
  border-radius: 25px;
  background-color: #212121;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3);
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.btn:hover{
  color: #212121;
  background-color: #fafafa;
}

.load-more{
  margin-bottom: 15px;
  
}


.search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}



.input{
  font-family: inherit;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #212121;
  border-radius: 25px;
 
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3);
}

.gallery{
  display: flex;
  justify-content: center;
      
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 20px;
}

.photo-card{
  /* display: flex;
  flex-direction: column; */
    /* flex-basis: calc((100% - 10px) / 2); */
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;

  background-color: lavender;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.photo-card:hover{
    box-shadow: 6px 6px 8px 2px rgba(0, 0, 0, 0.1);
}

.info-item{
  margin: 0;
}

.info{
  font-size: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 9px;
  padding: 10px;

}

@media screen and (min-width: 768px) {

  .photo-card {
    flex-basis: calc((100% - 40px) / 2);
  }

  .gallery {
    gap: 20px;
  }

  .search-form {
    flex-direction: row;
    gap: 50px;
  }

  .wrapper {
    max-width: 960px;
  }

  .wrapper__search{
    padding: 15px;
  }
}

@media screen and (min-width: 1024px) {

  .photo-card {
    flex-basis: calc((100% - 30px) / 3);
  }

  .gallery {
    gap: 15px;
  }

  .wrapper {
    max-width: 1200px;
  }
}

